[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
cassiopeia = "*"

[packages]
# TODO Update rapidfuzz to latest version
# TODO Actually, drop pipenv and use requirements.txt + tox
rapidfuzz = "0.12.5"
requests = "*"

[requires]
python_version = "3.8"
