[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
cassiopeia = "*"

[packages]
# TODO Update rapidfuzz to latest version
rapidfuzz = "0.12.5"
requests = "*"

[requires]
python_version = "3.8"
