aiodns==2.0.0
aiohttp==3.6.2
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==19.3.0
brotlipy==0.7.0
cchardet==2.1.6
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
idna==2.9
more-itertools==8.3.0
multidict==4.7.6
packaging==20.3
pluggy==0.13.1
py==1.8.1
pycares==3.1.1
pycparser==2.20
pyparsing==2.4.7
pytest==5.4.2
rapidfuzz==0.8.0
six==1.14.0
wcwidth==0.1.9
yarl==1.4.2
